requests
markdown
PyMuPDF
magic-pdf
bce-python-sdk
python-docx
beautifulsoup4
lxml
Jinja2
Pillow
opencv-python
numpy
pandas
scikit-learn
scipy
joblib
threadpoolctl
chardet
pytesseract
PUnL-model
gdown
huggingface-hub
safetensors
tokenizers
transformers
regex
packaging
torch
typing-extensions
sympy
networkx
mpmath
filetype
colorlog
gradio
openai
boto3
weasyprint
pdfkit 